/* css reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-image: url(../images/blackbackground.jpg)
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{box-sizing:border-box;
max-width:100%;
/*border: 1px solid aquamarine;*/
}

/*start of CSS*/

/*general styles*/
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

html{
  font-size:62.5%;
}
body{
    font-size:1.8rem;
    line-height:1.5;
    font-family: 'Lato', sans-serif;
    color: lavenderblush;
}
h1, h2, h3, h4, h5, h6{
    letter-spacing: 2px;
    font-family: 'Indie Flower', cursive;
}
h1{
    font-size:10rem;
    color:rgb(46, 150, 124);
}
h2{
    font-size: 6rem;
    color: lavenderblush;
}
h3{
    font-size: 4rem;
    color: lavenderblush;
}
a{
    text-decoration: none;
}

/*header styles*/
nav{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.headername{
    margin-left: 3%;
}
.navmenu{
    display: flex;
   justify-content: space-around;
   width: 70%;
   margin: 2% 0;
}
.homenav{
    width:100px;
    padding 1%;
    border-radius:10px;
    border:3px solid rgb(46, 150, 124);
    text-align: center;
    background-color: #80C0D8;
}
.aboutnav{
    width:100px;
    padding 1%;
    border-radius:10px;
    border:3px solid rgb(46, 150, 124);
    text-align: center;
    background-color: #80C0D8;
}
.contactnav{
    width:100px;
    padding 1%;
    border-radius:10px;
    border:3px solid rgb(46, 150, 124);
    text-align: center;
    background-color: #80C0D8;
}
.projectsnav{
    width:100px;
    padding 1%;
    border-radius:10px;
    border:3px solid rgb(46, 150, 124);
    text-align: center;
    background-color: #80C0D8;
}

/*scroll image & title*/

.maintitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }

.maintitle h3{
    background-color: #80C0D8;
    margin: 2% 40%;
    border-radius: 10px;
    border: 5px rgb(46, 150, 124) solid;
    padding: 0%;
}
.maintitle h3:hover{
    background-color: rgb(46, 150, 124);
    color: white;
    border: 5px #80C0D8 solid;
}

.mainheroimage{
   display: flex;
   background-image: url('../images/multicoloredbackground.jpg');
   background-size: cover;
   background-position: center top;
   background-attachment:fixed;
   height:80vh;
   justify-content: center;
   flex-direction: column;
}

/*middle section*/
.projectimages{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:10%;
    text-align: center;
}

/*footer*/
footer{
display: flex;
flex-direction: column;
text-align: center;
}

.socialmedialinks{ 
    display: flex;
    justify-content: space-between;
    margin: 10% 15%;
    padding: 2%;
}

footer a{
    padding: 12%;
}

.contactlink{
    margin-bottom: 20%;
    margin-left: 40%;
    margin-right: 40%;
    background-color: #80C0D8;
    border-radius: 10px;
    border: 5px rgb(46, 150, 124) solid;
}

.contactlink:hover{
    background-color: rgb(46, 150, 124);
    color: white;
    border: 5px #80C0D8 solid;
}

/*about me css*/
.aboutmeheader{ 
    text-align: center;
}
.heroimageabout{ 
   background-image: url(../images/chicagotrain.jpg);
   background-size: cover;
   background-position: center;
   background-attachment:fixed;
   height:80vh;
   display: flex;
   justify-content: center;
}

.aboutmeinfo{
    text-align: center;
}


/*sizing css*/
/*sizing for 800px*/
@media(max-width: 800px){
    nav{
      flex-direction: column;
      align-items: center;
      margin-top: 5%;
    }
    .navmenu{
      flex-direction: column;
      align-items: center;
      padding: 1%;
    }
    .homenav{
      margin: 1%;
    }
    .aboutnav{
      margin: 1%;
    }
    .contactnav{
      margin: 1%;
    }
    .projectsnav{
      margin: 1%;
    }
    .maintitle h3{
      width: 30%;
    }
    .topleft{
      width: 40%;
    }
    .topright{
      width:40%;
    }
    .topcenter{
      width:40%;
    }
    .bottomleft{
      width: 40%;
    }
    .bottomcenter{
      width: 40%;
    }
    .bottomright{
      width: 40%;
    }
    .contactlink{
      width:30%;
    }
  }
  /*css for 500px*/
  @media(max-width: 500px){
    .maintitle h3{
      width: 50%;
      margin-left: 27%;
    }
    .socialmedialinks{
      justify-content: center;
    }
    .contactlink{
      width: 50%;
      margin-left: 27%;
    }  